<web-app>

<context-param>
<param-name>pass</param-name>
<param-value>arpit</param-value>
</context-param>

<context-param>
<param-name>user</param-name>
<param-value>admin</param-value>
</context-param>


<context-param>
<param-name>dbusername</param-name>
<param-value>system</param-value>
</context-param>


<context-param>
<param-name>dbpassword</param-name>
<param-value>arpit</param-value>
</context-param>


<context-param>
<param-name>oracledriver</param-name>
<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
</context-param>

<context-param>
<param-name>driver</param-name>
<param-value>oracle.jdbc.driver.OracleDriver</param-value>
</context-param>


</web-app>